# URL de l'API (utilisée par le Frontend)
API_URL=http://api:8000

# URL de connexion à la base de données PostgreSQL
DATABASE_URL=postgresql://user:password@db:5432/dbname

# Identifiants de la base de données PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=dbname
